@import "/src/styles/mixin";

.item {
  min-height: 364px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  border-radius: 10px;
  background-color: var(--lightblue-lightness-color);
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
  }
  &__title {
    @include font20;
    margin-bottom: 8px;
  }
  &__text {
    @include font14;
  }
  &__footer {
    &__text {
      @include font14;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: var(--white-color);
      display: block;
      margin-bottom: 24px;
    }
    &__container {
      margin-top: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__date,
  &__views {
    @include font14;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--dark-grey-color);
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;
    }
  }
}
